$colorPurple: #A48AD4;
$colorDarkerPurp: #2A2C38;
$colorDarkPurp: #323542;
$colorLightGray: #F6F6F6;
$colorGray: #E9E9E9;
$colorWhite: #FFFFFF;

@import url(http://fonts.googleapis.com/css?family=Duru+Sans&subset=latin,latin-ext);

$fontDuru: 'Duru Sans', sans-serif;